@import url(https://fonts.googleapis.com/css?family=Lato:300);

.keys {
	font-family: "Lato", sans-serif;
	text-align: center;
	margin: 10px auto 0 auto;
}

.arr {
	cursor: pointer;
	width: 5rem;
	height: 5rem;
	text-align: center;
	background: grey;
	color: white;
	font-size: 50px;
	border-right: 10px solid darken(grey, 20);
	border-bottom: 10px solid darken(grey, 20);
	border-left: 10px solid darken(grey, 15);
	border-top: 10px solid darken(grey, 10);
	display: inline-block;
	margin: 5px;
	transition: all 0.05s linear;
}

.up {
	position: relative;
	top: -4px;
}

.pressed {
	border-bottom: 8px solid darken(grey, 20);
	text-shadow: 0 0 10px white;
}
